Marques/NF4 - Validació de Documents/Proves/exercici4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cotxe">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="marca" type="xs:string"/>
                <xs:element name="model" type="xs:string"/>  
            </xs:sequence>
            <xs:attribute name="matrícula" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
