Marques/NF4 - Validació de Documents/Proves/exercici1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="llibre">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titol" type="xs:string"/>
                <xs:element name="autor" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
