Marques/NF4 - Validació de Documents/AC4.1_Victor_Extremera/e3_personaVE.dtd

<!ELEMENT persones  (persona+)>
<!ELEMENT persona   (nif, nom, cognom+, (telefon* | correu*), sexe?)>
<!ELEMENT nif       (#PCDATA)>
<!ELEMENT nom       (#PCDATA)>
<!ELEMENT cognom    (#PCDATA)>
<!ELEMENT telefon   (#PCDATA)>
<!ELEMENT correu    (#PCDATA)>
<!ELEMENT sexe      (#PCDATA)>

<!ATTLIST persona id ID #REQUIRED>
<!ATTLIST persona sexe CDATA #IMPLIED>