Marques/NF4 - Validació de Documents/AC4.1_Victor_Extremera/e5_classeVE.dtd

<!ELEMENT classe  (tutor, alumnes)>
<!ELEMENT tutor   (persona)>
<!ELEMENT alumnes  (persona+)>
<!ELEMENT persona   (nif, nom, cognom+, telefon*, correu*)>
<!ELEMENT nif       (#PCDATA)>
<!ELEMENT nom       (#PCDATA)>
<!ELEMENT cognom    (#PCDATA)>
<!ELEMENT telefon   (#PCDATA)>
<!ELEMENT correu    (#PCDATA)>

<!ATTLIST classe aula ID #IMPLIED>
<!ATTLIST persona id ID #REQUIRED>