Marques/NF4 - Validació de Documents/AC4.1_Victor_Extremera/e5_classeVE.dtd

<!ELEMENT classe  (persones)>
<!ELEMENT persones (tutor, alumnes)>
<!ELEMENT tutor   (nif, nom, cognom+, telefon*, correu*)>
<!ELEMENT alumnes  (alumne+)>
<!ELEMENT alumne   (nif, nom, cognom+, telefon*, correu*)>
<!ELEMENT nif       (#PCDATA)>
<!ELEMENT nom       (#PCDATA)>
<!ELEMENT cognom    (#PCDATA)>
<!ELEMENT telefon   (#PCDATA)>
<!ELEMENT correu    (#PCDATA)>